{"openapi":"3.1.0","info":{"title":"AgentDesk REST API","description":"AgentDesk Rest API","termsOfService":"Terms of service","contact":{"name":"Netomi Support Team","url":"https://netomi.com","email":"support@netomi.com"},"version":"1.0"},"servers":[{"url":"http://api.netomi.com","description":"Generated server url"}],"paths":{"/v1/rate-limit":{"get":{"tags":["rate-limiter-config-controller"],"operationId":"fetchRateConfig","parameters":[{"name":"botRefId","in":"query","required":false,"schema":{"type":"string"}},{"name":"botId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}},"put":{"tags":["rate-limiter-config-controller"],"operationId":"updatedRateConfig","parameters":[{"name":"botRefId","in":"query","required":false,"schema":{"type":"string"}},{"name":"botId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitConfigRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}},"post":{"tags":["rate-limiter-config-controller"],"operationId":"saveRateConfig","parameters":[{"name":"botRefId","in":"query","required":false,"schema":{"type":"string"}},{"name":"botId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitConfigRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}},"delete":{"tags":["rate-limiter-config-controller"],"operationId":"deleteRateConfig","parameters":[{"name":"botRefId","in":"query","required":false,"schema":{"type":"string"}},{"name":"botId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/webhook/event":{"post":{"tags":["webhook-event-controller"],"operationId":"triggerWebHookEvent","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebHookEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/test-utterances/bulk":{"post":{"tags":["test-utterance-script-controller"],"operationId":"submitRequest","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/test-utterances/bulk/poll":{"post":{"tags":["test-utterance-script-controller"],"operationId":"pollScript","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/query-analyzer":{"post":{"tags":["query-analyzer-controller"],"operationId":"submitRequest_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/messages":{"get":{"tags":["pub-sub-controller"],"operationId":"getResponse","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}},"post":{"tags":["pub-sub-controller"],"operationId":"conversationEngineAsync","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zoho/webhook":{"get":{"tags":["zoho-webhook-controller"],"operationId":"subscribe","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"post":{"tags":["zoho-webhook-controller"],"operationId":"conversationEngineAsync_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zoho/webhook/{botRefId}":{"get":{"tags":["zoho-webhook-controller"],"operationId":"subscribeWithBotRefId","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"post":{"tags":["zoho-webhook-controller"],"operationId":"conversationEngineAsyncWithBotRefId","parameters":[{"name":"botRefId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk/webhook":{"post":{"tags":["zendesk-webhook-controller"],"operationId":"conversationEngineAsync_2","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/response":{"post":{"tags":["zen-desk-chat-rest-controller"],"operationId":"getStructuredResponse","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/publish-social":{"post":{"tags":["zen-desk-chat-rest-controller"],"operationId":"publishToSocialOutbound","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationResponse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/poll":{"post":{"tags":["zen-desk-chat-rest-controller"],"operationId":"getResponse_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/webhook/generic_agent_desk_response":{"post":{"tags":["generic-webhook-controller"],"operationId":"message","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/v1/webhook/events":{"post":{"tags":["generic-webhook-controller"],"operationId":"event","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/webhook/":{"post":{"tags":["generic-webhook-controller"],"operationId":"messagesPost","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/webhook":{"post":{"tags":["generic-webhook-controller"],"operationId":"messagesPost_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/twitter/webhook/{appId}":{"get":{"tags":["twitter-webhook-controller"],"operationId":"subscribe_1","parameters":[{"name":"crc_token","in":"query","required":true,"schema":{"type":"string"}},{"name":"appId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["twitter-webhook-controller"],"operationId":"messagesPost_2","parameters":[{"name":"appId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/sunshine-conversations/webhook":{"post":{"tags":["sunshine-conversations-webhook-controller"],"operationId":"conversationEngineAsync_3","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/sprinklr/webhook":{"post":{"tags":["sprinklr-webhook-controller"],"operationId":"conversationEngineAsync_4","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/sprinklr/webhook/poll":{"post":{"tags":["sprinklr-webhook-controller"],"operationId":"postResponse","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/salesforce/webhook":{"post":{"tags":["salesforce-webhook-controller"],"operationId":"conversationEngineAsync_5","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/salesforce/webhook/messages/poll":{"post":{"tags":["salesforce-webhook-controller"],"operationId":"postResponse_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/nlu/predict":{"post":{"tags":["nluapi-controller"],"operationId":"postRequest","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/nlu/poll":{"post":{"tags":["nluapi-controller"],"operationId":"pollResponse","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/helpshift/webhook":{"post":{"tags":["helpshift-webhook-controller"],"operationId":"conversationEngineAsync_6","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/google/assistant/webhook":{"post":{"tags":["google-assistant-webhook-controller"],"operationId":"googleAssistantPost","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/gladly/webhook":{"get":{"tags":["gladly-webhook-controller"],"operationId":"ping","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}},"post":{"tags":["gladly-webhook-controller"],"operationId":"conversationEngineAsync_7","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/freshdesk/webhook":{"post":{"tags":["freshdesk-webhook-controller"],"operationId":"conversationEngineAsync_8","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/firebase/messages":{"get":{"tags":["firebase-rest-controller"],"operationId":"getResponse_2","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}},"post":{"tags":["firebase-rest-controller"],"operationId":"conversationEngineAsync_9","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/facebook/webhook":{"get":{"tags":["facebook-webhook-controller"],"operationId":"subscribe_2","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"hub.mode","in":"query","required":true,"schema":{"type":"string"}},{"name":"hub.challenge","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["facebook-webhook-controller"],"operationId":"messagesPost_3","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/facebook/webhook/singtelRoamingActivation/updateTolerancePriorityCost":{"post":{"tags":["singtel-roaming-activation-webhook-controller"],"operationId":"updateTolerancePriorityCost","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/ceaas/messages":{"get":{"tags":["rest-api-controller"],"operationId":"getResponse_3","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}},"post":{"tags":["rest-api-controller"],"operationId":"conversationEngineAsync_10","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/booking":{"post":{"tags":["booking-confirmation-controller"],"operationId":"bookingConfirmation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingConfirmationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/authorize/visitors":{"post":{"tags":["visitor-authorize-webhook-controller"],"operationId":"messagesPost_4","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthenticationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/agentdesk/webhook":{"post":{"tags":["agent-desk-webhook-controller"],"operationId":"conversationEngineAsync_11","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/agentdesk/webhook/messages/poll":{"post":{"tags":["agent-desk-webhook-controller"],"operationId":"postResponse_2","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/agentdesk/webhook/form/submit":{"post":{"tags":["agent-desk-webhook-controller"],"operationId":"submitForm","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentDeskFormRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/agentdesk/batch":{"post":{"tags":["agent-desk-rest-api-controller"],"operationId":"conversationEngineAsync_12","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/agentdesk/batch/poll":{"post":{"tags":["agent-desk-rest-api-controller"],"operationId":"postResponse_3","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/v3/ceaas/messages":{"get":{"tags":["rest-api-controller-v-3"],"operationId":"getResponse_4","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v2/webhook/history/{conversationId}":{"get":{"tags":["generic-webhook-controller-v-2"],"operationId":"getConversationHistory","parameters":[{"name":"numberOfDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"numberOfMessages","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"name":"timestamp","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v2/ceaas/messages":{"get":{"tags":["rest-api-controller-v-2"],"operationId":"getResponse_5","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/zendesk-chat/re-activate":{"get":{"tags":["zen-desk-chat-rest-controller"],"operationId":"reActivate","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/de-activate":{"get":{"tags":["zen-desk-chat-rest-controller"],"operationId":"deActivate","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/check-status/{botRefId}":{"get":{"tags":["zen-desk-chat-rest-controller"],"operationId":"checkStatusAll","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"botRefId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/check-status-all":{"get":{"tags":["zen-desk-chat-rest-controller"],"operationId":"checkStatusAll_1","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/zendesk-chat/activate":{"get":{"tags":["zen-desk-chat-rest-controller"],"operationId":"activate","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/webhook/history/{conversationId}":{"get":{"tags":["generic-webhook-controller"],"operationId":"getConversationHistory_1","parameters":[{"name":"numberOfDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"numberOfMessages","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}},"/v1/track":{"get":{"tags":["asset-tracker-controller"],"operationId":"assets","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"allRequestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/v1/salesforce/webhook/messages":{"get":{"tags":["salesforce-webhook-controller"],"operationId":"getResponse_6","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/platform/status":{"get":{"tags":["platform-status-controller"],"operationId":"statusAPI","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"X-Hub-Signature","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Client-Id","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlatformStatusResponse"}}}}}}},"/v1/oauth/redirect":{"get":{"tags":["oauth-token-redirect-controller"],"operationId":"oAuthRedirect","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"allRequestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{}}}],"responses":{"200":{"description":"OK","content":{"text/html;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/v1/helpshift/quick-reply":{"get":{"tags":["helpshift-webhook-controller"],"operationId":"helpShiftQuickReply","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}},{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/ceaas/historical/messages":{"get":{"tags":["rest-api-controller-v-3"],"operationId":"getHistoricalConversation","parameters":[{"name":"botId","in":"query","required":true,"schema":{"type":"string"}},{"name":"conversationId","in":"query","required":true,"schema":{"type":"string"}},{"name":"timeInterval","in":"query","required":true,"schema":{"type":"string"}},{"name":"originTime","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/v1/agentdesk/webhook/messages":{"get":{"tags":["agent-desk-webhook-controller"],"operationId":"getResponse_7","parameters":[{"name":"requestId","in":"query","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}}}}}},"/ceaas/v1/health/{secretId}":{"get":{"tags":["health-check-controller"],"operationId":"healthCheck","parameters":[{"name":"secretId","in":"path","required":true,"schema":{"type":"string"}},{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResponse"}}}}}}}},"components":{"schemas":{"RateLimitConfigRequestDto":{"type":"object","properties":{"minuteLimit":{"type":"integer","format":"int64"},"hourLimit":{"type":"integer","format":"int64"},"dayLimit":{"type":"integer","format":"int64"},"weekLimit":{"type":"integer","format":"int64"},"monthLimit":{"type":"integer","format":"int64"},"yearLimit":{"type":"integer","format":"int64"}}},"BaseError":{"type":"object","properties":{"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},"ServiceResponse":{"type":"object","properties":{"statusCode":{"type":"string"},"statusMessage":{"type":"string"},"exceptionCode":{"type":"string","enum":["DATA_NOT_FOUND","INVALID_PAYMENT_MODE_ERROR","LINK_CANNOT_CREATED","OBJECT_DEEP_COPY_CLONE_FAILED_ERROR","API_EMPTY_PAYLOAD_ERROR","LANGUAGE_NOT_CONFIGURED","CLIENT_API_CREDENTIAL_MISSING_ERROR","CLIENT_API_CREDENTIAL_DOES_NOT_EXIST_ERROR","INVALID_PAYMENT_CARD_ERROR","INVALID_JOB_CLASS_NAME_ERROR","JOB_SCHEDULER_ERROR","DB_FETCH_ERROR","DB_INSERT_ERROR","DOWN_STREAM_SERVICE_ERROR","ILLEGAL_LINK_ID","DESERIALIZATION_FAILED_ERROR","SERIALIZATION_FAILED_ERROR","READING_FILE_FAILED_ERROR","INVALID_INPUT_ERROR","UN_SUPPORTED_OPERATION_ERROR","CONNECTION_TIME_OUT_ERROR","DRUID_QUERY_TIME_OUT_ERROR","AUTHENTICATION_FAILED_ERROR","AUTHORIZATION_FAILED_ERROR","HTTPS_SECURE_GATEWAY_ERROR","CONNECTION_REFUSED_ERROR","RESOURCE_NOT_FOUND_ERROR","ENCRYPTION_FAILED_ERROR","INPUT_DATA_CORRUPTED_ERROR","CONNECTION_RESET_ERROR","THROTTLE_ERROR","RATE_LIMIT_EXCEED_ERROR","UN_AUTHORISED_ERROR","CASSANDRA_DB_ERROR","MYSQL_DB_ERROR","KAFKA_BROKER_ERROR","DRUID_TRANQUILITY_SERVER_ERROR","INSTANTIATION_FAILED_ERROR","ILLEGAL_ACCESS_ERROR","DRUID_QUERY_BROKER_ERROR","UN_AUTHORISED_ACCESS","BAD_CREDENTIAL","ACCESS_TOKEN_EXPIRED","USER_DOES_NOT_EXIST","SIGN_UP_LINK_EXPIRED","RESET_PASSWORD_LINK_EXPIRED","USER_ACCOUNT_TEMPORARY_BLOCKED","LOGIN_SUCCESS","ILLEGAL_PERMISSION_ENTITY_ADDITION","NO_TWO_PERMISSION_ENITITY_EXCEPTION","ILLEGEAL_TOKEN_HEADER","NO_SECURITY_CONTEXT_HOLDER","UNAUTHORIZED_API_REQUEST","INVALID_ROLE","INSUFFICIENT_PERMISSION","MVEL_EXPRESSION_INVALID","MVEL_EXPRESSION_PROPERTY_MISSING","STANDARD_RESPONSE_EMPTY","TARGET_BUCKET_NOT_FOUND","TARGET_BUCKET_RESPONSE_NOT_FOUND","INSUFFICIENT_ATTRIBUTE","CONTEXT_RESPONSE_EMPTY","CONVERSATION_NULL","NULL_TOKEN_CREATED","USER_NOT_FOUND","WORKFLOW_NOT_FOUND","USER_NOT_ACTIVATED","INVALID_BOT_DETAILS","INVALID_CONF","INVALID_CONFIGURATION","COMPRESS_STRING_ERROR","DE_COMPRESS_STRING_ERROR","EXPERIMENT_NOT_FOUND","NO_LOCALE_CONFIGURED","ACCESS_LOCKED","ATTEMPTS_EXCEEDED","MESSAGE_SWALLOWED","INTERNAL_SERVER_ERROR","FACEBOOK_API_EXCEPTION","ALREADY_EXISTS_ENTITY_EXCEPTION","CLUSTERING_FILE_REJECTED_EXCEPTION","CLUSTERING_DATA_INSERTION_INTO_DB_EXCEPTION","DATA_SCIENCE_CLUSTERING_FAILED_EXCEPTION","CLUSTERING_UTTERANCE_DATA_INSERTION_FAILED_EXCEPTION","CLUSTERING_UTTERANCE_INFO_INSERTION_FAILED_EXCEPTION","EXISTING_CLUSTERS_DELETION_EXCEPTION","REQUEST_PAYLOAD_MAX_SIZE_EXCEED_ERROR","GO_LIVE_PRECONDITION_FAILED","DEFAULT_TEMPLATE_DOES_NOT_EXIST_EXCEPTION","SUB_WORKFLOW_DELETE_PRECONDITION_FAILED","INTENT_IN_USE","DECRYPTION_EXCEPTION","ENCRYPTION_EXCEPTION","CONNECTION_FAILED","DELETE_FAILED","GOOGLE_TRANSLATION_API_EXCEPTION","AWS_LAMBDA_API_EXCEPTION","TRANSLATION_FAILED","INVALID_ORCHESTRATOR_STATE_REACHED","MCP_ERROR","MCP_VALIDATION_ERROR","MCP_SERVER_NOT_FOUND","MAX_MANIFEST_LIMIT_REACHED","MANIFEST_DELETE_VALIDATION_FAILED"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/BaseError"}},"taskStatus":{"type":"array","items":{}},"payload":{}}},"WebHookEventRequest":{"type":"object","properties":{"linkId":{"type":"string"},"payload":{"type":"object","additionalProperties":{}}}},"ContentDisposition":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"filename":{"type":"string"},"charset":{"type":"string"},"formData":{"type":"boolean"},"attachment":{"type":"boolean"},"inline":{"type":"boolean"}}},"HttpHeaders":{"type":"object","properties":{"acceptCharset":{"type":"array","items":{"type":"string"}},"acceptLanguage":{"type":"array","items":{"type":"object","properties":{"range":{"type":"string"},"weight":{"type":"number","format":"double"}}}},"acceptPatch":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"acceptLanguageAsLocales":{"type":"array","items":{"type":"string"}},"accessControlAllowHeaders":{"type":"array","items":{"type":"string"}},"accessControlAllowMethods":{"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"}},"accessControlAllowOrigin":{"type":"string"},"accessControlMaxAge":{"type":"integer","format":"int64"},"contentDisposition":{"$ref":"#/components/schemas/ContentDisposition"},"accessControlAllowCredentials":{"type":"boolean"},"accessControlExposeHeaders":{"type":"array","items":{"type":"string"}},"accessControlRequestHeaders":{"type":"array","items":{"type":"string"}},"accessControlRequestMethod":{"$ref":"#/components/schemas/HttpMethod"},"bearerAuth":{"type":"string","writeOnly":true},"cacheControl":{"type":"string"},"connection":{"type":"array","items":{"type":"string"}},"contentLanguage":{"type":"string"},"ifNoneMatch":{"type":"array","items":{"type":"string"}},"ifUnmodifiedSince":{"type":"integer","format":"int64"},"basicAuth":{"type":"string","writeOnly":true},"accept":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"allow":{"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"},"uniqueItems":true},"etag":{"type":"string"},"expires":{"type":"integer","format":"int64"},"ifMatch":{"type":"array","items":{"type":"string"}},"origin":{"type":"string"},"pragma":{"type":"string"},"range":{"type":"array","items":{"$ref":"#/components/schemas/HttpRange"}},"upgrade":{"type":"string"},"vary":{"type":"array","items":{"type":"string"}},"contentLength":{"type":"integer","format":"int64"},"contentType":{"$ref":"#/components/schemas/MediaType"},"location":{"type":"string","format":"uri"},"host":{"type":"object","properties":{"hostString":{"type":"string"},"address":{"type":"object","properties":{"hostAddress":{"type":"string"},"address":{"type":"string","format":"byte"},"hostName":{"type":"string"},"linkLocalAddress":{"type":"boolean"},"multicastAddress":{"type":"boolean"},"anyLocalAddress":{"type":"boolean"},"loopbackAddress":{"type":"boolean"},"siteLocalAddress":{"type":"boolean"},"mcglobal":{"type":"boolean"},"mcnodeLocal":{"type":"boolean"},"mclinkLocal":{"type":"boolean"},"mcsiteLocal":{"type":"boolean"},"mcorgLocal":{"type":"boolean"},"canonicalHostName":{"type":"string"}}},"port":{"type":"integer","format":"int32"},"unresolved":{"type":"boolean"},"hostName":{"type":"string"}}},"ifModifiedSince":{"type":"integer","format":"int64"},"empty":{"type":"boolean"},"all":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true},"lastModified":{"type":"integer","format":"int64"},"date":{"type":"integer","format":"int64"}}},"HttpMethod":{},"HttpRange":{},"MediaType":{"type":"object","properties":{"type":{"type":"string"},"subtype":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"qualityValue":{"type":"number","format":"double"},"wildcardType":{"type":"boolean"},"wildcardSubtype":{"type":"boolean"},"subtypeSuffix":{"type":"string"},"concrete":{"type":"boolean"},"charset":{"type":"string"}}},"AbstractChannelMetaInfo":{"discriminator":{"propertyName":"type"},"properties":{"type":{"type":"string"}},"required":["type"]},"AbstractPostback":{"type":"object","discriminator":{"propertyName":"type"},"properties":{"payload":{"type":"string"},"type":{"type":"string"}},"required":["type"]},"Address":{"type":"object","properties":{"street1":{"type":"string"},"street2":{"type":"string"},"city":{"type":"string"},"postalCode":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"}}},"Adjustment":{"type":"object","properties":{"name":{"type":"string"},"amount":{"type":"number","format":"double"}}},"AgentDeskChannelMetaInfo":{"allOf":[{"$ref":"#/components/schemas/AbstractChannelMetaInfo"},{"type":"object","properties":{"sendStatus":{"type":"string"},"caseCategory":{"type":"string"},"caseStatus":{"type":"string"},"ticketOwnerType":{"type":"string"},"eventType":{"type":"string"},"subject":{"type":"string"},"emailId":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"acquisitionChannel":{"type":"string","enum":["SMS","EMAIL","MESSENGER"],"writeOnly":true},"visitorAcquisitionChannel":{"type":"string","enum":["SMS","EMAIL","MESSENGER"]}}}]},"AgentDeskForm":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","REJECTED","SUBMITTED"]}}}]},"AgentDeskResponse":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"sendStatus":{"type":"string"},"caseCategory":{"type":"string"},"caseStatus":{"type":"string"},"eventType":{"type":"string"},"ticketOwnerType":{"type":"string"},"standby":{"type":"boolean"},"emailId":{"type":"string"}}}]},"AgentInfo":{"type":"object","properties":{"agentId":{"type":"string"},"avatar":{"type":"string"},"displayName":{"type":"string"},"agentUserSessionId":{"type":"string"}}},"AirlineBoardingPassTemplatePayload":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"introMessage":{"type":"string"},"locale":{"type":"string"},"themeColor":{"type":"string"},"boardingPass":{"type":"array","items":{"$ref":"#/components/schemas/BoardingPass"}}}}]},"AirlineCheckinTemplatePayload":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"introMessage":{"type":"string"},"locale":{"type":"string"},"themeColor":{"type":"string"},"pnrNumber":{"type":"string"},"flightInfoList":{"type":"array","items":{"$ref":"#/components/schemas/FlightInfo"}},"checkinUrl":{"type":"string"}}}]},"AirlineField":{"type":"object","properties":{"label":{"type":"string"},"value":{"type":"string"}}},"AirlineItineraryTemplatePayload":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"introMessage":{"type":"string"},"locale":{"type":"string"},"themeColor":{"type":"string"},"pnrNumber":{"type":"string"},"passengerInfoList":{"type":"array","items":{"$ref":"#/components/schemas/PassengerInfo"}},"flightInfoList":{"type":"array","items":{"$ref":"#/components/schemas/FlightInfo"}},"passengerSegmentInfoList":{"type":"array","items":{"$ref":"#/components/schemas/PassengerSegmentInfo"}},"priceInfoList":{"type":"array","items":{"$ref":"#/components/schemas/PriceInfo"}},"basePrice":{"type":"number","format":"double"},"tax":{"type":"number","format":"double"},"totalPrice":{"type":"number","format":"double"},"currency":{"type":"string"}}}]},"AirlineUpdateTemplatePayload":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"introMessage":{"type":"string"},"updateType":{"type":"string"},"locale":{"type":"string"},"themeColor":{"type":"string"},"pnrNumber":{"type":"string"},"updateFlightInfo":{"$ref":"#/components/schemas/FlightInfo"}}}]},"Attachment":{"type":"object","discriminator":{"propertyName":"type"},"properties":{"uri":{"type":"string"},"title":{"type":"string"},"text":{"type":"string"},"maskedText":{"type":"string"},"attachmentId":{"type":"string"},"description":{"type":"string"},"style":{"type":"string"},"quickReply":{"$ref":"#/components/schemas/QuickReply"},"timestamp":{"type":"integer","format":"int64"},"isReviewEnabled":{"type":"boolean"},"feedbackValue":{"type":"string"},"isCustomReplyEnabled":{"type":"boolean"},"attachmentLambdaId":{"type":"string"},"srcLangForSavedQNA":{"type":"string"},"attachmentResponseType":{"type":"string","enum":["KNOWLEDGE_BASE_RESPONSE","ANSWER_AI_RESPONSE","INTENT_RESPONSE","SUB_WORKFLOW_RESPONSE","ANSWER_GPT_RESPONSE","ANSWER_NET_MULTI_SOURCE","NBA_RESPONSE","SUGGESTIONS_RESPONSE"]},"variantId":{"type":"string"},"intentId":{"type":"string"},"responseId":{"type":"integer","format":"int64"},"nodeName":{"type":"string"},"tooltip":{"type":"string"},"properties":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"version":{"type":"string"},"type":{"type":"string"}},"required":["type"]},"Attribute":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"},"scope":{"type":"string","enum":["SESSION","LIFE_TIME","INTENT","DAILY_TIMER","WEEKLY_TIMER","MONTHLY_TIMER","YEARLY_TIMER","TIME_BASED","RESPONSE_MERGE","CONDITION_VALIDATION","BOTH","DEFAULT","DEFAULT_RESPONSE","NODE","MESSAGE"]}}},"Audio":{"allOf":[{"$ref":"#/components/schemas/Attachment"}]},"BoardingPass":{"type":"object","properties":{"passengerName":{"type":"string"},"pnrNumber":{"type":"string"},"travelClass":{"type":"string"},"seat":{"type":"string"},"auxiliaryFields":{"type":"array","items":{"$ref":"#/components/schemas/AirlineField"}},"secondaryFields":{"type":"array","items":{"$ref":"#/components/schemas/AirlineField"}},"logoImageUrl":{"type":"string"},"headerImageUrl":{"type":"string"},"headerTextField":{"type":"string"},"qrCode":{"type":"string"},"barcodeImageUrl":{"type":"string"},"aboveBarCodeImageUrl":{"type":"string"},"flightInfo":{"$ref":"#/components/schemas/FlightInfo"}}},"BotMetaInfo":{"type":"object","properties":{"channel":{"type":"string"},"channelType":{"type":"string"},"botId":{"type":"string"},"botReferenceId":{"type":"string"},"region":{"type":"string"},"packageId":{"type":"string"},"languages":{"type":"array","items":{"type":"string"}},"includeSubjectForIC":{"type":"object","additionalProperties":{"type":"boolean"}},"multiChannelId":{"type":"string"}}},"Button":{"type":"object","properties":{"type":{"type":"string","enum":["POST_BACK","BUY","CALL","NESTED","SHARE","WEB","DEEP_LINK"]},"url":{"type":"string"},"title":{"type":"string"},"payload":{"type":"string"},"webview_height_ratio":{"type":"string","enum":["compact","tall","full"]},"messenger_extensions":{"type":"boolean"},"fallback_url":{"type":"string"}}},"Card":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"buttons":{"type":"array","items":{"$ref":"#/components/schemas/Button"}}}}]},"Carousel":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"elements":{"type":"array","items":{"$ref":"#/components/schemas/GenericElement"}},"carouselImageAspectRatio":{"type":"string","enum":["SQUARE","HORIZONTAL"]}}}]},"ContextualAttributeServiceObject":{"type":"object","properties":{"id":{"type":"string"},"botId":{"type":"string"},"derivedEntity":{"type":"boolean"},"env":{"type":"string","enum":["DEV","QA","UAT","PROD","STAGING","SANDBOX","LIVE","SGUAT"]},"dsEntity":{"type":"boolean"},"entityExtracter":{"type":"string","enum":["DATA_SCIENCE","NORMAL","BOTH"]},"entityScope":{"type":"string","enum":["VISITOR","CONVERSATION_MEMORY","DEFAULT","NODE","MESSAGE"]},"translationEnabled":{"type":"boolean"},"type":{"type":"string","enum":["TEXT","BOOLEAN","DOUBLE","BIG_INTEGER","INTEGER","DURATION","TIME","COMPLEX_OBJECT","REGEX","POSTBACK"]},"version":{"type":"string"},"name":{"type":"string"},"startIndex":{"type":"integer","format":"int32"},"endIndex":{"type":"integer","format":"int32"},"source":{"type":"string"},"className":{"type":"string"},"value":{"type":"string"},"relationId":{"type":"string"},"confusionId":{"type":"string"},"text":{"type":"string"},"overrideValue":{"type":"boolean"},"synonyms":{"type":"array","items":{"$ref":"#/components/schemas/PromptValue"}},"formattedValues":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"variableId":{"type":"string"},"securityType":{"type":"string"},"label":{"type":"string"},"scope":{"type":"string","enum":["RESPONSE_MERGE","CONDITION_VALIDATION","BOTH","DEFAULT","DEFAULT_RESPONSE","LIFE_TIME","SESSION","INTENT","NODE","DAILY_TIMER","WEEKLY_TIMER","MONTHLY_TIMER","YEARLY_TIMER","TIME_BASED","MESSAGE"]},"regexExpression":{"type":"string"},"channel":{"type":"string","enum":["MESSENGER","SUNSHINE_CONVERSATIONS_LINE","EMAIL","TWITTER","REST","LINE","WHATS_APP","AGENTDESK","FRESHDESK","ZENDESK","SALESFORCE","WEB_PLUGIN","PUB_SUB","ANDROID","IOS","WINDOWS","LITHIUM","ALEXA","GOOGLE_ASSISTANT","ZENDESK_CHAT","FACEBOOK_POST","SPRINKLR_FACEBOOK","SPRINKLR_WHATSAPP_BUSINESS","KHOROS_FB_POST","KHOROS_TWITTER_POST","KHOROS_TWITTER_CHAT","KHOROS_FACEBOOK_CHAT","PUBNUB","ZOHO_DESK","NETOMI_WEB_WIDGET","DEFAULT_CHANNEL","NLU_API","HELPSHIFT","GLADLY_EMAIL","GLADLY_WEB_CHAT","CHAT_API","EMAIL_API","CHAT_CHANNEL","EMAIL_CHANNEL","VOICE_CHANNEL","NETOMI_VOICE"]},"category":{"type":"string","enum":["SOCIAL","ENTITY","BUSINESS_ENTITY","DOMAIN_ENTITY","BUSINESS_POLICY","SENTIMENT","IS_NEW_USER","AD_ENTITY","TIME"]},"description":{"type":"string"},"enricher":{"type":"string","enum":["DATE_ENRICHER","DEFAULT_ENRICHER","AIRPORT_ENRICHER","SYNONYMS_ENRICHER","LOCALE_ENRICHER"]},"scopeType":{"type":"string","enum":["GLOBAL_TEMPLATE","BOT_TEMPLATE","INSTANCE"]},"platformVersion":{"type":"string"},"defaultValue":{"type":"string"}}},"ConversationContextHistory":{"type":"object","properties":{"actor":{"type":"string"},"content":{"type":"string"},"rephrasedQuery":{"type":"string"},"responseSubType":{"type":"string"},"responseType":{"type":"string"},"properties":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"intent":{"type":"string"},"icInfo":{"type":"object","additionalProperties":{}},"agenticInfo":{"type":"object","additionalProperties":{}},"toolsInvoked":{"type":"array","items":{}},"gaiModeration":{"$ref":"#/components/schemas/GenAiModerationInfo"},"fillers":{"type":"array","items":{"$ref":"#/components/schemas/FillerInfo"}}}},"ConversationResponse":{"type":"object","properties":{"propertyMap":{"type":"object","additionalProperties":{"type":"string"}},"requestId":{"type":"string"},"botMetaInfo":{"$ref":"#/components/schemas/BotMetaInfo"},"visitor":{"$ref":"#/components/schemas/Visitor"},"locale":{"type":"string"},"channelId":{"type":"string"},"caseId":{"type":"string"},"session":{"$ref":"#/components/schemas/Session"},"conversationEnvironment":{"type":"string","enum":["DEV","QA","UAT","PROD","STAGING","SANDBOX","LIVE","SGUAT"]},"channelType":{"type":"string","enum":["EMAIL","CHAT","VOICE","POST","DEFAULT","NLU_API"]},"messageType":{"type":"string"},"abstractChannelMetaInfo":{"oneOf":[{"$ref":"#/components/schemas/AgentDeskChannelMetaInfo"}]},"serviceLatencyMetrics":{"$ref":"#/components/schemas/ServiceLatencyLog"},"time":{"type":"string"},"intentId":{"type":"string"},"intent":{"type":"string"},"originalMessage":{"type":"string"},"skill":{"type":"string"},"skillId":{"type":"string"},"socialChannel":{"type":"string"},"requestTime":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"linkId":{"type":"string"},"status":{"type":"string"},"sendStatus":{"type":"string"},"reviewModeResponse":{"type":"string"},"tagIds":{"type":"array","items":{"type":"integer","format":"int64"}},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/Intent"}},"responses":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"allRecognizedAttributes":{"type":"array","items":{"$ref":"#/components/schemas/ContextualAttributeServiceObject"}},"customFields":{"type":"array","items":{"$ref":"#/components/schemas/CustomResponseField"}},"customPayload":{"type":"object","additionalProperties":{}},"agentInfo":{"$ref":"#/components/schemas/AgentInfo"},"requestMessageId":{"type":"string"},"ownerType":{"type":"string"},"conversationId":{"type":"string"},"triggerType":{"type":"string"},"responseStatus":{"type":"string"},"testResponse":{"type":"boolean"},"responseAnalyserResponse":{"type":"boolean"},"type":{"type":"string","enum":["CONVERSATION_REQUEST","CONVERSATION_RESPONSE","ERROR","AUDIT_ERROR","CONVERSATION_STATE","INTEGRATION_REQUEST","INTEGRATION_RESPONSE","CONVERSATION","ASSET_TRACKING","CLIENT_REQUEST","HUMAN_HANDOFF_RESPONSE","HUMAN_HANDOFF_REQUEST"]}}},"CustomResponseField":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"botId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"customId":{"type":"integer","format":"int64"},"rule":{"type":"string"},"customFieldId":{"type":"string"},"customFieldValueType":{"type":"string"},"valueHtml":{"type":"string"},"active":{"type":"boolean"}}},"Email":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"from":{"type":"string"},"replyTo":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"cc":{"type":"array","items":{"type":"string"}},"sentDate":{"type":"string","format":"date-time"},"subject":{"type":"string"},"body":{"type":"string"},"attachmentUrls":{"type":"array","items":{"type":"string"}},"htmlBody":{"type":"string"},"threadId":{"type":"string"},"emailThread":{"$ref":"#/components/schemas/Email"},"eventType":{"type":"string"},"ticketOwnerType":{"type":"string"},"status":{"type":"string"},"sendStatus":{"type":"string"},"caseCategory":{"type":"string"},"user":{"$ref":"#/components/schemas/User"},"payload":{"type":"object","additionalProperties":{"type":"string"}},"bcc":{"type":"array","items":{"type":"string"}},"maskedHtml":{"type":"string"}}}]},"EmailTemplate":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"scope":{"type":"string","enum":["GLOBAL_TEMPLATE","BOT_TEMPLATE","INSTANCE"]},"salutation":{"type":"string"},"greetings":{"type":"string"},"feedback":{"type":"string"},"signOff":{"type":"string"},"toneId":{"type":"string"},"from":{"type":"string"},"replyTo":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"cc":{"type":"array","items":{"type":"string"}},"bcc":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"textHtml":{"type":"string"},"maskedHtml":{"type":"string"},"body":{"type":"string"},"attachmentUrls":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","format":"int32"},"eventType":{"type":"string"},"ticketOwnerType":{"type":"string"},"status":{"type":"string"},"ticketStatus":{"type":"string"},"referenceId":{"type":"string"},"sendStatus":{"type":"string"},"caseCategory":{"type":"string"},"isEdited":{"type":"boolean"},"isDeleted":{"type":"boolean"},"emailAttachmentId":{"type":"string"},"isVariationsEnabled":{"type":"boolean"},"variations":{"type":"array","items":{"$ref":"#/components/schemas/Variation"}}}}]},"Error":{"type":"object","properties":{"status":{"type":"string"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"type":{"type":"string","enum":["CONVERSATION_REQUEST","CONVERSATION_RESPONSE","ERROR","AUDIT_ERROR","CONVERSATION_STATE","INTEGRATION_REQUEST","INTEGRATION_RESPONSE","CONVERSATION","ASSET_TRACKING","CLIENT_REQUEST","HUMAN_HANDOFF_RESPONSE","HUMAN_HANDOFF_REQUEST"]}}},"EventTemplatePayload":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"eventType":{"type":"string"},"values":{"type":"object","additionalProperties":{}}}}]},"FillerInfo":{"type":"object","properties":{"text":{"type":"string"}}},"FillerText":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"id":{"type":"string"},"isVariationsEnabled":{"type":"boolean"},"variations":{"type":"array","items":{"$ref":"#/components/schemas/Variation"}}}}]},"FlightAirport":{"type":"object","properties":{"airportCode":{"type":"string"},"city":{"type":"string"},"terminal":{"type":"string"},"gate":{"type":"string"}}},"FlightInfo":{"type":"object","properties":{"connectionId":{"type":"string"},"segmentId":{"type":"string"},"flightNumber":{"type":"string"},"aircraftType":{"type":"string"},"departureAirport":{"$ref":"#/components/schemas/FlightAirport"},"arrivalAirport":{"$ref":"#/components/schemas/FlightAirport"},"flightSchedule":{"$ref":"#/components/schemas/FlightSchedule"},"travelClass":{"type":"string"}}},"FlightSchedule":{"type":"object","properties":{"boardingTime":{"type":"string","format":"date-time"},"departureTime":{"type":"string","format":"date-time"},"arrivalTime":{"type":"string","format":"date-time"}}},"GenAiModerationInfo":{"type":"object","properties":{"type":{"type":"string"},"moderationProperties":{"$ref":"#/components/schemas/ModerationResponse"}}},"GenAiModerationResponseType":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"string"},"fallbackResponseType":{"type":"string"}}},"GenericAttachment":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"payloadType":{"type":"string"},"payloadValue":{"type":"string"}}}]},"GenericElement":{"type":"object","properties":{"title":{"type":"string"},"imageUrl":{"type":"string"},"subtitle":{"type":"string"},"itemUrl":{"type":"string"},"buttons":{"type":"array","items":{"$ref":"#/components/schemas/Button"}},"description":{"type":"string"},"videoUrl":{"type":"string"},"thumbnailUrl":{"type":"string"}}},"GenericFileAttachment":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"fileURL":{"type":"string"},"fileType":{"type":"string"},"fileSize":{"type":"string"}}}]},"GoogleAssistantBasicCard":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"googleCardTitle":{"type":"string"},"googleCardSubTitle":{"type":"string"},"googleCardTextBody":{"type":"string"},"googleCardButtons":{"type":"array","items":{"$ref":"#/components/schemas/GoogleAssistantButton"}},"googleCardImage":{"$ref":"#/components/schemas/GoogleAssistantImage"},"googleCardFormattedText":{"type":"string"},"googleCardImageDisplayOption":{"type":"string"}}}]},"GoogleAssistantButton":{"type":"object","properties":{"googleCardButtonTitle":{"type":"string"},"googleCardButtonUrl":{"type":"string"}}},"GoogleAssistantImage":{"type":"object","properties":{"googleCardImageUrl":{"type":"string"},"googleCardImageAccessibilityText":{"type":"string"}}},"GoogleAssistantMicAttachment":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"micStatus":{"type":"string"}}}]},"GoogleAssistantSuggestionChip":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"chipDisplayResponse":{"type":"string"},"chipVoiceResponse":{"type":"string"},"chips":{"type":"array","items":{"type":"string"}}}}]},"GoogleAssistantText":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"voiceText":{"type":"string"},"displayText":{"type":"string"}}}]},"GroupItem":{"type":"object","properties":{"header":{"type":"string"},"title":{"type":"string"},"subTitle":{"type":"string"},"description":{"type":"string"},"value":{"type":"string"}}},"GroupList":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"subTitle":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/GroupItem"}}}}]},"Image":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"largeImageUrl":{"type":"string"},"thumbnail":{"type":"string"}}}]},"ImageCard":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"largeImageUrl":{"type":"string"},"buttons":{"type":"array","items":{"$ref":"#/components/schemas/Button"}}}}]},"Intent":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"displayName":{"type":"string"},"skill":{"type":"string"},"confidence":{"type":"number","format":"double"},"threshold":{"type":"number","format":"double"},"utterance":{"type":"string"},"source":{"type":"string"},"predictionBasis":{"type":"string"},"ruleId":{"type":"string"},"classifier":{"type":"string"},"maxUttLength":{"type":"integer","format":"int32"},"minUttLength":{"type":"integer","format":"int32"},"keywords":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"stopwords":{"type":"array","items":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"classifierType":{"type":"string"},"category":{"type":"string","enum":["CONVERSATIONAL","DOMAIN","REFERRAL","OTHERS","API_ERROR","TROLL","UNCLASSIFIED","UNMAPPED","DUTY_OF_CARE","AGENT","COMPLIANCE","SYSTEM_TOPIC","CONVERSATION_CONTROLS"]},"subCategory":{"type":"string","enum":["DIALOG","FAQ"]},"predictionType":{"type":"string","enum":["classification","suggestion","unclassified","knowledge_base","multi_intent_classification"]},"predictionCode":{"type":"string","enum":["MISSING_TRAINING_DATA","MULTIPLE_TOPIC_QUERIES","LANGUAGE_NOT_ENABLED"]},"type":{"type":"string","enum":["CLIENT","INTERNAL"]},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/Intent"}},"original_utterance":{"type":"string"},"is_matched_utterance":{"type":"integer","format":"int32"},"csim_confidence":{"type":"string"},"wmnli_confidence":{"type":"string"},"wmnli_threshold":{"type":"string"}}},"ListTemplate":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"elements":{"type":"array","items":{"$ref":"#/components/schemas/GenericElement"}},"buttons":{"type":"array","items":{"$ref":"#/components/schemas/Button"}}}}]},"Location":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"latitude":{"type":"string"},"longitude":{"type":"string"}}}]},"Message":{"type":"object","properties":{"originalMessage":{"type":"string"},"maskedOriginalMessage":{"type":"string"},"visitorMessageType":{"type":"string","enum":["TEXT","LOCATION","IMAGE","VIDEO","GIF","EMOTICON","CALL","AUDIO","POST_BACK","TYPING_ON","REFERRAL","FACEBOOK_HANDOVER","ZENDESK_CHAT_HANDOVER","SUNSHINE_CONVERSATIONS_HANDOVER","KHOROS_HANDOVER","EMAIL","SMS","OTHERS","OPTIN","HANDOVER","GLADLY_HANDOVER","ATTRIBUTE_UPDATE","ONE_TIME_NOTIFICATION"]},"callbackUrl":{"type":"string"},"messageId":{"type":"string"},"type":{"type":"string","enum":["VISITOR","BOT","INTERNAL_AGENT","THIRD_PARTY_AGENT","INTERNAL_EVENT","AD_EVENT","ASSET_EVENT"]},"timestamp":{"type":"integer","format":"int64"},"postBack":{"oneOf":[{"$ref":"#/components/schemas/PostbackButton"},{"$ref":"#/components/schemas/PostbackItem"}]},"referral":{"$ref":"#/components/schemas/PostbackReferral"},"attachments":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/AgentDeskForm"},{"$ref":"#/components/schemas/AgentDeskResponse"},{"$ref":"#/components/schemas/AirlineBoardingPassTemplatePayload"},{"$ref":"#/components/schemas/AirlineCheckinTemplatePayload"},{"$ref":"#/components/schemas/AirlineItineraryTemplatePayload"},{"$ref":"#/components/schemas/AirlineUpdateTemplatePayload"},{"$ref":"#/components/schemas/Audio"},{"$ref":"#/components/schemas/Card"},{"$ref":"#/components/schemas/Carousel"},{"$ref":"#/components/schemas/Email"},{"$ref":"#/components/schemas/EmailTemplate"},{"$ref":"#/components/schemas/EventTemplatePayload"},{"$ref":"#/components/schemas/FillerText"},{"$ref":"#/components/schemas/GenericAttachment"},{"$ref":"#/components/schemas/GenericFileAttachment"},{"$ref":"#/components/schemas/GoogleAssistantBasicCard"},{"$ref":"#/components/schemas/GoogleAssistantMicAttachment"},{"$ref":"#/components/schemas/GoogleAssistantSuggestionChip"},{"$ref":"#/components/schemas/GoogleAssistantText"},{"$ref":"#/components/schemas/GroupList"},{"$ref":"#/components/schemas/Image"},{"$ref":"#/components/schemas/ImageCard"},{"$ref":"#/components/schemas/ListTemplate"},{"$ref":"#/components/schemas/Location"},{"$ref":"#/components/schemas/MessageInfoAttachment"},{"$ref":"#/components/schemas/MultiSource"},{"$ref":"#/components/schemas/NBAAttachment"},{"$ref":"#/components/schemas/NLUCard"},{"$ref":"#/components/schemas/OneTimeNotificationRequest"},{"$ref":"#/components/schemas/Receipt"},{"$ref":"#/components/schemas/Text"},{"$ref":"#/components/schemas/Video"}]}},"semanticMessages":{"type":"array","items":{"$ref":"#/components/schemas/SemanticMessage"}},"properties":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"error":{"$ref":"#/components/schemas/Error"},"handoffControlType":{"type":"string","enum":["IMPLICIT","EXPLICIT"]}}},"MessageInfoAttachment":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"values":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}]},"MetaEntity":{"type":"object","properties":{"name":{"type":"string"},"confidence":{"type":"number","format":"double"}}},"MetaIntent":{"type":"object","properties":{"tone":{"$ref":"#/components/schemas/MetaEntity"},"topic":{"$ref":"#/components/schemas/MetaEntity"},"returnType":{"$ref":"#/components/schemas/MetaEntity"}}},"ModerationResponse":{"type":"object","properties":{"triggered":{"type":"boolean"},"category":{"type":"string"},"reasoning":{"type":"string"},"retryFeedback":{"type":"string"},"retryHistory":{"type":"array","items":{"$ref":"#/components/schemas/RetryHistory"}},"moderationResponse":{"$ref":"#/components/schemas/GenAiModerationResponseType"}}},"MultiSource":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"multipleSourceDetails":{"type":"array","items":{"$ref":"#/components/schemas/SourceDetails"}}}}]},"NBAAttachment":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"nbaObjects":{"type":"array","items":{"$ref":"#/components/schemas/NBAServiceObject"}}}}]},"NBAServiceObject":{"type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"shortText":{"type":"string"},"longText":{"type":"string"},"pageURL":{"type":"string"}}},"NLUCard":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"intents":{"type":"array","items":{"$ref":"#/components/schemas/NLUIntent"}},"entities":{"type":"array","items":{"$ref":"#/components/schemas/NLUEntity"}}}}]},"NLUEntity":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"values":{"type":"array","items":{"$ref":"#/components/schemas/NLUEntityValue"}}}},"NLUEntityValue":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"string"}}},"NLUIntent":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"confidence":{"type":"number","format":"double"}}},"OneTimeNotificationRequest":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"payload":{"type":"string"}}}]},"Option":{"type":"object","properties":{"label":{"type":"string"},"description":{"type":"string"},"metadata":{"type":"string"},"contentType":{"type":"string"},"url":{"type":"string"},"optionLambdaId":{"type":"string"},"variableIds":{"type":"array","items":{"type":"string"}}}},"PassengerInfo":{"type":"object","properties":{"name":{"type":"string"},"ticketNumber":{"type":"string"},"passengerId":{"type":"string"}}},"PassengerSegmentInfo":{"type":"object","properties":{"segmentId":{"type":"string"},"passengerId":{"type":"string"},"seat":{"type":"string"},"seatType":{"type":"string"},"productInfoList":{"type":"array","items":{"$ref":"#/components/schemas/ProductInfo"}}}},"PostbackButton":{"allOf":[{"$ref":"#/components/schemas/AbstractPostback"},{"type":"object","properties":{"title":{"type":"string"}}}]},"PostbackItem":{"allOf":[{"$ref":"#/components/schemas/AbstractPostback"},{"type":"object","properties":{"referral":{"$ref":"#/components/schemas/PostbackReferral"}}}]},"PostbackReferral":{"type":"object","properties":{"ref":{"type":"string"},"source":{"type":"string"},"type":{"type":"string"}}},"PriceInfo":{"type":"object","properties":{"title":{"type":"string"},"amount":{"type":"number","format":"double"},"currency":{"type":"string"}}},"ProductInfo":{"type":"object","properties":{"title":{"type":"string"},"value":{"type":"string"}}},"PromptValue":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"synonyms":{"type":"array","items":{"type":"string"}}}},"QuickReply":{"type":"object","properties":{"description":{"type":"string"},"type":{"type":"string"},"style":{"type":"string"},"options":{"type":"array","items":{"$ref":"#/components/schemas/Option"}}}},"Receipt":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"name":{"type":"string"},"orderNumber":{"type":"string"},"currency":{"type":"string"},"paymentMethod":{"type":"string"},"orderUrl":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"},"summary":{"$ref":"#/components/schemas/Summary"},"adjustments":{"type":"array","items":{"$ref":"#/components/schemas/Adjustment"}},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ReceiptElement"}}}}]},"ReceiptElement":{"type":"object","properties":{"title":{"type":"string"},"subtitle":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"price":{"type":"number","format":"float"},"currency":{"type":"string"},"imageUrl":{"type":"string"}}},"RetryHistory":{"type":"object","properties":{"category":{"type":"string"},"reasoning":{"type":"string"},"retryFeedback":{"type":"string"}}},"SemanticMessage":{"type":"object","properties":{"language":{"type":"string","enum":["ENGLISH","FRENCH","ITALIAN"]},"enrichedMessage":{"type":"string"},"tone":{"type":"string","enum":["ANGRY","HAPPY","POLITE","SAD","DELIGHTFUL"]},"sentiment":{"type":"string","enum":["POSITIVE","NEGATIVE","NEUTRAL"]},"metaIntent":{"$ref":"#/components/schemas/MetaIntent"},"intents":{"type":"array","items":{"$ref":"#/components/schemas/Intent"}},"keywords":{"type":"array","items":{"type":"string"},"uniqueItems":true},"isUtteranceAnAnswer":{"type":"boolean"},"entityConfusion":{"type":"boolean"},"entityConfusionType":{"type":"string","enum":["INTER","INTRA","NONE"]},"maskedUtterance":{"type":"string"},"nluInfo":{},"entities":{"type":"array","items":{"$ref":"#/components/schemas/ContextualAttributeServiceObject"}},"conversationContextHistory":{"type":"array","items":{"$ref":"#/components/schemas/ConversationContextHistory"}}}},"ServiceLatencyLog":{"type":"object","properties":{"date_format":{"type":"string"},"currentMetric":{"$ref":"#/components/schemas/ServiceLatencyMetric"},"serviceLatencyMetricSet":{"type":"array","items":{"$ref":"#/components/schemas/ServiceLatencyMetric"},"uniqueItems":true},"init_STAGE":{"type":"string"},"currentStageMetric":{"$ref":"#/components/schemas/ServiceLatencyMetric"}}},"ServiceLatencyMetric":{"type":"object","properties":{"metricName":{"type":"string"},"startTime":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int64"},"prevLatency":{"type":"integer","format":"int64"}}},"Session":{"type":"object","properties":{"sessionId":{"type":"string"},"isFirst":{"type":"boolean"},"startTime":{"type":"integer","format":"int64"},"endTime":{"type":"integer","format":"int64"},"duration":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"SourceDetails":{"type":"object","properties":{"text":{"type":"string"},"uuid":{"type":"string"},"page_number":{"type":"array","items":{"type":"integer","format":"int32"}},"name":{"type":"string"},"type":{"type":"string"},"index":{"type":"integer","format":"int32"}}},"Summary":{"type":"object","properties":{"subtotal":{"type":"number","format":"double"},"shipping_cost":{"type":"number","format":"double"},"total_tax":{"type":"number","format":"double"},"total_cost":{"type":"number","format":"double"}}},"Text":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"id":{"type":"string"},"isVariationsEnabled":{"type":"boolean"},"variations":{"type":"array","items":{"$ref":"#/components/schemas/Variation"}}}}]},"User":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"emailId":{"type":"string"},"phone":{"type":"string"}}},"Variation":{"type":"object","properties":{"type":{"type":"string","enum":["TEXT","IMAGE"]},"text":{"type":"string"},"isEnabled":{"type":"boolean"}}},"Video":{"allOf":[{"$ref":"#/components/schemas/Attachment"},{"type":"object","properties":{"thumbnailUrl":{"type":"string"},"thumbnail":{"type":"string"}}}]},"Visitor":{"type":"object","properties":{"externalId":{"type":"string"},"token":{"type":"string"},"conversationId":{"type":"string"},"mobileNumber":{"type":"string"},"emailId":{"type":"string"},"name":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN","BOT"]},"channel":{"type":"string","enum":["MESSENGER","SUNSHINE_CONVERSATIONS_LINE","EMAIL","TWITTER","REST","LINE","WHATS_APP","AGENTDESK","FRESHDESK","ZENDESK","SALESFORCE","WEB_PLUGIN","PUB_SUB","ANDROID","IOS","WINDOWS","LITHIUM","ALEXA","GOOGLE_ASSISTANT","ZENDESK_CHAT","FACEBOOK_POST","SPRINKLR_FACEBOOK","SPRINKLR_WHATSAPP_BUSINESS","KHOROS_FB_POST","KHOROS_TWITTER_POST","KHOROS_TWITTER_CHAT","KHOROS_FACEBOOK_CHAT","PUBNUB","ZOHO_DESK","NETOMI_WEB_WIDGET","DEFAULT_CHANNEL","NLU_API","HELPSHIFT","GLADLY_EMAIL","GLADLY_WEB_CHAT","CHAT_API","EMAIL_API","CHAT_CHANNEL","EMAIL_CHANNEL","VOICE_CHANNEL","NETOMI_VOICE"]},"location":{"type":"string"},"type":{"type":"string","enum":["EXTERNAL","INTERNAL","TEST"]},"conversationMode":{"type":"string","enum":["BLOCKED_TEMPORARY","BLOCKED_PERMANENTLY","ACTIVE_HUMAN_ASSISTANCE","ACTIVE_BOT"]},"profilePictureUrl":{"type":"string"},"botReferenceId":{"type":"string"},"botId":{"type":"string"},"actor":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"authorId":{"type":"string"}}},"BookingConfirmationRequest":{"type":"object","properties":{"linkId":{"type":"string"},"confirmationId":{"type":"string"},"payload":{"type":"object","additionalProperties":{"type":"string"}}}},"ExternalAuthenticationRequest":{"type":"object","properties":{"authToken":{"type":"string"},"clientId":{"type":"string"},"authCode":{"type":"string"},"visitorKey":{"type":"string"},"timestamp":{"type":"string"},"expiryTime":{"type":"integer","format":"int64"}}},"AgentDeskFormDetails":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"subject":{"type":"string"},"status":{"type":"string"}}},"AgentDeskFormRequest":{"type":"object","properties":{"requestId":{"type":"string"},"conversationId":{"type":"string"},"formDetails":{"$ref":"#/components/schemas/AgentDeskFormDetails"}}},"PlatformStatusResponse":{"type":"object","properties":{"status":{"type":"string","enum":["MAINTENANCE","FULLY_OPERATIONAL","INCIDENT","OUTAGE","INOPERATIVE"]},"message":{"type":"string"},"errorCode":{"type":"string","enum":["FACEBOOK_API_ERROR","TWITTER_API_ERROR","LINE_API_ERROR","KIK_API_ERROR","SALES_FORCE_API_ERROR","DEPLOYMENT_ERROR","INTERNAL_SERVER_ERROR","CLIENT_API_ERROR","THIRD_PARTY_ADAPTER_ERROR","ZEN_DESK_API_ERROR"]},"lastActivityTimestamp":{"type":"integer","format":"int64"}}}}}}